#square-block {
    display: grid;
    grid-template-columns: 0px 0px 0px 0px 0px;
    grid-template-rows: 0px 0px 0px 0px 0px;
    grid-gap: 5vw;
}

#square-block div {
    width: 50px;
    height: 50px;
}

